* {
  box-sizing: border-box;
  
}
html {
  font-family: Roboto, Arial, "Noto Sans", sans-serif;
}

.test {
  border: 2px solid red;
}

// первый контейнер
.tmain {
  &-text__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #252432;
  }
  &-text__note {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #101010;
  }
 
  &-img__picture {
    max-width: 100%
  }
}
.team-bgd {
  margin-bottom: -50px;
  
}
// блок наша команда
.team {
  background: linear-gradient(180deg, #C9D8F2 0%, #EDEDED 100%);
  
  &-title {
    margin-top: 40px;
    margin-bottom: 35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #292C47;
  }

}
.employee {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  
  &-name {
    padding: 15px 0 6px 0;
    font-family: Roboto Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #2E2E2E;
  }
  
  &-whoishe {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1D3B54;
  }
}

// блок контакты
.contacts {
  margin: 60px 0;
  padding: 60px;
  background: #36384A;
  border-radius: 20px;
  height: auto;
  &-place {
    align-items: center;
    margin-bottom: 30px;
  }
  &-place__icon {
    margin-right: 14px;
  }

  &-place__adress {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #DBDBDB;
  }

  &-adress__name {
    font-family: Roboto Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
  }

  &-adress__info {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #DBDBDB;
  }
}
.contact {
  &-info {
    display: flex;
    align-items: baseline;
  }
  &-phone {
    align-items: center;
    margin-bottom: 30px;
  }
  &-info__note {
    margin-right: 14px;
    font-family: Roboto Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
  }
  
  &-email {
    align-items: center;
  }

  &-info__adress {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #DBDBDB;
  }
}
.contact-phone__icon {
  margin-right: 13px;
}

.contact-email__icon {
  margin-right: 14px;
}

@media (max-width: 960px) {
  .contacts {
    flex-direction: column;
    &-adress{
      margin-bottom: 18px;
    }
    &-place__adress {
      font-size: 16px;
    }
    &-place {
      margin-bottom: 18px;
    }
    &-adress__name {
      line-height: 26px;
      font-size: 18px;
    }
    &-adress__info {
      font-size: 16px;
    }
  }
  .contact {
    &-phone {
      margin-bottom: 18px;
    }
    &-info__note {
      font-size: 18px;
    }
    &-info__adress {
      font-size: 16px;
   }
    &-email{
      margin-bottom: 18px;
    }
  }}
@media (max-width: 640px) {
  .team {
    &-title {
      margin-top: 20px;
    }
  }
  .tmain-text__title {
    font-size: 38px;
  }
  .team-title {
    padding-top: 20px;
    font-size: 38px;
  }
  .employee {
    margin: 15px 10px 15px 10px;
    &-name {
      font-size: 16px;
    }
    &-whoishe {
      font-size: 15px;
    }
  }
  
}
@media (max-width: 480px) {
  .contacts {
    padding: 30px;
    &-adress__name {
      line-height: 20px;
      font-size: 15px;
    }
    &-adress__info {
      font-size: 15px;
      width: 163px
    }
    &-place__adress {
      font-size: 15px;
    }
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .contact {
    &-phone {
      margin-bottom: 15px;
    }
    &-info__note {
      font-size: 15px;
      line-height: 15px;
    }
    &-info__adress {
      font-size: 15px;
   }
    &-email{
      margin-bottom: 15px;
    }
  }
.team-block {
  flex-direction: column;
}
.employee {
  width: 100% !important;
  margin: 15px 0 15px 0;
}
}
